* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  background-color: #26523e;
  color: #e9f2ee;
}

main {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-rows: 100px auto auto;
      grid-template-rows: 100px auto auto;
      grid-template-areas: ". a ." ". b ." ". c .";
}

main #bgContainer {
  background-image: url("https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/Zugpsitze_mountain.jpg?crop=0%2C176%2C3008%2C1654&wid=4000&hei=2200&scl=0.752");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}

main #inputContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

main #inputContainer input[type="text"] {
  padding: 10px;
  min-width: 150px;
  height: 30px;
  border-style: none;
  cursor: text;
  background-color: #d9e9e3;
  border-radius: 10px 0px 0px 10px;
  color: #26523e;
}

main #inputContainer input[type="text"]:focus {
  outline: 1px solid #26523e;
}

main #inputContainer input[type="submit"] {
  border: none;
  padding: 10px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  background-color: #26523e;
  border-radius: 0px 10px 10px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: white;
}

main #listContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  border-radius: 10px;
  background-color: #d9e9e3;
  border-radius: 5px;
  z-index: 2;
}

main #doneContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
  margin-top: 20px;
  z-index: 2;
}

main ul li {
  border-radius: 5px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto 40px 40px;
      grid-template-columns: 40px auto 40px 40px;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
      grid-template-areas: "a b c d";
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  background: #e9f2ee;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main ul li input[type="checkbox"] {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  border: none;
  width: 15px;
  height: 15px;
}

main ul li input[type="text"] {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  padding: 10px;
  border-style: none;
  cursor: text;
  background-color: transparent;
  color: #26523e;
  font-size: 1em;
  outline: none;
}

main ul li input[type="text"].true {
  text-decoration: line-through;
}

main ul li input[type="text"]:focus {
  background-color: white;
}

main ul li i {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px;
  cursor: pointer;
  color: #4b504b;
}

main ul li i.fa-pencil {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

main ul li i.fa-floppy-disk {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
  color: red;
}

main ul li i.fa-xmark.fa-lg {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d;
  line-height: 1;
  color: red;
}

main ul li i:hover {
  background-color: #526f62;
  color: white;
  border-radius: 10%;
}

main ul li:nth-child(even) {
  background-color: #d9e9e3;
}

main ul li:hover {
  background-color: #a7bdb3;
}

main ul li.true {
  background-color: #6d9181;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */